@font-face {
  font-family: "Flaticon1";
  src: url("../fonts/flaticon1/Flaticon1.eot");
  src: url("../fonts/flaticon1/Flaticon1.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon1/Flaticon1.woff2") format("woff2"),
       url("../fonts/flaticon1/Flaticon1.woff") format("woff"),
       url("../fonts/flaticon1/Flaticon1.ttf") format("truetype"),
       url("../fonts/flaticon1/Flaticon1.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon1";
    src: url("../fonts/flaticon1/Flaticon1.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon1-001-donut-shop:before { content: "\f100"; }
.flaticon1-002-pizza-shop:before { content: "\f101"; }
.flaticon1-003-gym:before { content: "\f102"; }
.flaticon1-004-spa:before { content: "\f103"; }
.flaticon1-005-burger:before { content: "\f104"; }
.flaticon1-006-pet-shop:before { content: "\f105"; }
.flaticon1-007-candy-shop:before { content: "\f106"; }
.flaticon1-008-butcher:before { content: "\f107"; }
.flaticon1-009-hotel:before { content: "\f108"; }
.flaticon1-010-swimming:before { content: "\f109"; }
.flaticon1-011-generic:before { content: "\f10a"; }
.flaticon1-012-cinema:before { content: "\f10b"; }
.flaticon1-013-coffee-shop:before { content: "\f10c"; }
.flaticon1-014-shopping-bag:before { content: "\f10d"; }
.flaticon1-015-fast-food:before { content: "\f10e"; }
.flaticon1-016-book-shop:before { content: "\f10f"; }
.flaticon1-017-bakery-shop:before { content: "\f110"; }
.flaticon1-018-take-away:before { content: "\f111"; }
.flaticon1-019-parking:before { content: "\f112"; }
.flaticon1-020-gardening:before { content: "\f113"; }
.flaticon1-021-library:before { content: "\f114"; }
.flaticon1-022-drinker:before { content: "\f115"; }
.flaticon1-023-gasoline-station:before { content: "\f116"; }
.flaticon1-024-surf:before { content: "\f117"; }
.flaticon1-025-electricity:before { content: "\f118"; }
.flaticon1-026-sport:before { content: "\f119"; }
.flaticon1-027-shoe-shop:before { content: "\f11a"; }
.flaticon1-028-ice-cream-shop:before { content: "\f11b"; }
.flaticon1-029-house:before { content: "\f11c"; }
.flaticon1-030-diy:before { content: "\f11d"; }
.flaticon1-031-hot-tub:before { content: "\f11e"; }
.flaticon1-032-paint:before { content: "\f11f"; }
.flaticon1-033-water:before { content: "\f120"; }
.flaticon1-034-fruit-shop:before { content: "\f121"; }
.flaticon1-035-garage:before { content: "\f122"; }
.flaticon1-036-pharmacy:before { content: "\f123"; }
.flaticon1-037-dry-cleaning:before { content: "\f124"; }
.flaticon1-038-vending-machine:before { content: "\f125"; }
.flaticon1-039-off-license:before { content: "\f126"; }
.flaticon1-040-bike-shop:before { content: "\f127"; }
.flaticon1-041-taxi:before { content: "\f128"; }
.flaticon1-042-clothing-shop:before { content: "\f129"; }
.flaticon1-043-restaurant:before { content: "\f12a"; }
.flaticon1-044-crossing:before { content: "\f12b"; }
.flaticon1-045-school:before { content: "\f12c"; }
.flaticon1-046-bar:before { content: "\f12d"; }
.flaticon1-047-barber:before { content: "\f12e"; }
.flaticon1-048-coffee-machine:before { content: "\f12f"; }
.flaticon1-049-post-office:before { content: "\f130"; }
.flaticon1-050-newspaper:before { content: "\f131"; }